<% if @bridge_integration.errors.any? %>
  <% @bridge_integration.errors.full_messages.each do |message|%>
  <h3><%= message %> </h3>
  <%end%>
<%end%></br>

<%= form_with(model: @bridge_integration, url: url, method: method) do |form| %>
  <p><%= form.label 'Имя интеграции' %></p>
  <p><%= form.text_field 'name' %></p>

  <p><%= form.label 'Ключ интеграции' %></p>
  <p><%= form.text_field 'key' %></p>

  <p><%= form.label 'Тип интеграции' %></p>
  <p><%= form.select 'connector_id', RedmineBridge::Registry.keys %></p>

  <p><%= form.label 'Redmine Project' %></p>
  <p><%= form.text_field 'project_id' %></p>

  <p><%= form.label 'Настройки' %></p>
  <p><%= form.text_field 'settings[redmine_status_id]', value: @bridge_integration.settings['redmine_status_id'] %></p>
  <p><%= form.text_field 'settings[connector_status_id]', value: @bridge_integration.settings['connector_status_id'] %></p>

  <p><%= form.text_field 'settings[redmine_priority_id]', value: @bridge_integration.settings['redmine_priority_id'] %></p>
  <p><%= form.text_field 'settings[connector_priority_id]', value: @bridge_integration.settings['connector_priority_id'] %></p>

  <p><%= form.submit %></p>
<% end %>
