<h2>
  <%= link_to t('label_module_plural'), '/admin/plugins' %> »
  <%= link_to 'redmine_bridge', '/settings/plugin/redmine_bridge' %> »
  <%= @bridge_integration.name %>
</h2>

<%= render 'form', method: :patch, url: bridge_integration_path(@bridge_integration) %>

<script>
    $(document).ready(function () {
        const jiraConnectorId = 'jira';
        const connectorId = $('#connector_id');
        const checkJiraButton = $('#check_jira_connection_button');

        function toggleCheckJiraConnectionButton() {
            if (connectorId.val() === jiraConnectorId) {
                checkJiraButton.show();
            } else {
                checkJiraButton.hide();
            }
        }

        connectorId.on('change', toggleCheckJiraConnectionButton);

        toggleCheckJiraConnectionButton();
    });
</script>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_bridge', plugin: 'redmine_bridge' %>
<% end %>
